:root{
    --prime-color: #c1255c;
}
.primary-color{
    background-color: var(--prime-color) !important;
}
.text-color{
    color: var(--prime-color) !important;
}
.nav-btn{
    color: #fff;
    outline: none;
    border: none;
    background-color: var(--prime-color) !important;
    display: inline-block;
}
#top-navbar .nav-item > .nav-link{
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;  
}
#top-navbar .nav-item > .active{
    color: #000;
    border-bottom: 2px solid var(--prime-color);
    text-shadow: 0 0 1px black;
    display: inline-block;
}
#top-navbar .navbar-nav button:hover{
    background-color: #8d0a38 !important;
}
#floor-tab .nav-item{
    position: relative;
    left: 0;
    padding: 10px;
}

#floor-tab button{
    background-color: #c1255c;
    border: none;
    outline: none;
    border-radius: 0;
    border-right: 1px solid whitesmoke;
    padding: 0 10px 0 0;
    color: whitesmoke;
    letter-spacing: 1px;
}
#floor-tab button.active{
    color: #fff;
    text-shadow: 0 0 1px #fff;
}
#floor-tab .nav-item:has(button.active)::after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: calc(50% - 15px);
    bottom: -12px;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid #c02553;
}
#location{
    background-image: url('./images/intro-bg.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    width: 100%;
    height: auto;
    
}
#amenities{
    background-image: url('./images/img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250vh;
    margin-top: 50px;
    padding-top: 200px;
}
#amenities .img_logo{
    width: 10%;
    opacity: 0.7;
}
#amenities hr{ 
    width: 30%;
    height: 0.13rem;
    margin: 0 auto;
}
.negative-top{
    margin-top: -150px;
}
.custom-bullet {
    list-style-image: url('https://www.w3schools.com/css/sqpurple.gif');
}
#footer{
    background-image: url('images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: center center;
}

@media (max-width: 991.98px) { 
    #floor-tab ul{
        width: 100% !important;
    }
    .nav-btn{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) { 
    #floor-tab ul{
        width: 100% !important;
    }
    .nav-btn{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #location{
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 75% 100%;
    }
}

@media (max-width: 575px) {
    #floor-tab{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    #floor-tab ul{
        width: 100% !important;
    }
    #location > div{
        width: 75% !important;
        margin: 0 !important;
    }
    #amenities .description{
        width: 100% !important;
        max-height: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #amenities .description p{
        color: white !important;
    }
}
